.input-field {
  margin: 10px 15px;
  width: 90%;
  font-size: 20px;
  color: green;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border-width: 4px;
  text-align: center;
  margin-top: 20px;
}

.button-click {
  color: green;
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border-width: 4px;
  text-align: center;
  margin-top: 20px;
  background: none;
}

.dropdown-container {
  margin: 20px;
  width: 200px;
}

.add-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 35px;
  text-align: center;
}

.trip-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 35px;
  text-align: center;
}

.addexpenses h1 {
  text-align: center;
  border-bottom: black;
  border-bottom: 1.5px solid #000000;
  padding-bottom: 10px;
  margin-bottom: 35px;
}

.addexpenses {
  max-width: 500px;
  margin: 80px auto;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-height: 600px;
}

.label-name {
  margin-left: 18px;
}

.addexpenses-screen {
  background-color: #b5cdd835;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; /* Centers the background */
  width: 100vw; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
}