.mapbox-form-label{
  margin: 0;
}



  .trip-button {
    position: absolute; 
    top: 5px; 
    right: 10px;
    z-index: 1000; 
  }
  
  .trip-button button {
    padding: 10px 15px; /* Adjust padding for the button */
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
  }
  
  .trip-button button:hover {
    background-color: #0056b3; /* Darker color on hover */
  }
  
  
.weather-overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  border-radius: 12px; /* Rounded corners */
  color: #ffffff; /* White text for contrast */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4); /* Box shadow for depth */
  padding: 20px; /* Padding inside the card */
  z-index: 1;
  font-family: Arial, sans-serif; /* Readable font */
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */

}

.weather-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-icon img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}
.weather-details {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.temperature {
  color: #ffcc00; /* Yellow color for temperature to make it stand out */
  font-weight: bold;
}

.condition, .humidity {
  margin-top: 5px;
}

.loading-message, .weather-error {
  color: #ff6b6b; /* Red color for loading or error messages */
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .weather-overlay {
    width: 220px;
    top: 10px;
    right: 10px;
    padding: 15px;
  }

  .weather-title {
    font-size: 18px;
  }

  .weather-icon img {
    width: 50px;
    height: 50px;
  }

  .weather-details {
    font-size: 14px;
  }
}