.view-expenses h1 {
  color: black;
  text-align: left;
  font-size: 35px;
  margin: 0 auto 40px auto; 
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 100%; 

}

.view-expenses {
  background-color: #ffffff;
  padding: 20px;
  min-height: 100vh;
}

.expenses-container {
  left: 0ex;
  max-width: 600px;
  margin: 75px;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: visible; 
}

.expense-item {
  position: relative;
  background-color: #ffffff;
  padding: 20px; 
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 60px; 
}

.expense-item .category {
  text-transform: capitalize;
  flex-grow: 1;
}

.expense-item .date {
  color: #aea9a9;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-left: 70px;
  display: block;
}

.expense-item p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.expense-amount {
  margin-left: 120px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000;
  text-align: right;
}

.delete-expense {
  position: absolute;
  top: 0px;
  right: 10px;
  display: none; 
  background-color: #e74c3c;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  width: 35px;
}

.expense-item:hover .delete-expense {
  display: block; 
}

.delete-expense:hover {
  background-color: #c82333;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 85%;
  background-color: #d9d3d3;
  border-radius: 25px;
  height: 35px;
  margin: 20px 75px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #1d6df8;
  border-radius: 10px 0 0 10px;
  transition: width 0.4s ease;
}

.progress-text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropdown-container {
  display: flex;         
  justify-content: flex-start; 
  align-items: center;    
  gap: 20px;              
  width: 100%;            
}

.dropdown-categories {
  width: auto;            
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 100px;
  text-align: center;
}

.dropdown-trips {
  width: auto;            
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 50px;
  text-align: center;
}

.pieChart {
  position: absolute;
  top: 75%;
  right: 5px; 
  transform: translateY(-50%);
}

.trip {
  font-size: larger;
  width: 100%;
  margin-left: 105px;
}

.expenses {
  font-size: larger;
  width: 100%;
  margin-left: 200px;
}